<phpunit bootstrap="bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true">

    <testsuites>
        <testsuite name="GoogleServiceDirectory">
            <directory>./Google</directory>
        </testsuite>
        <testsuite name="DataStoreSqlite">
            <directory>./Sqlite</directory>
        </testsuite>
    </testsuites>
    <!--    <filter>
            <blacklist>
                <directory suffix=".php">/var/lib/mailadmin/vendor</directory>
                <directory suffix=".php">/var/lib/mailadmin/simplesamlphp</directory>
                <directory suffix=".php">/var/lib/mailadmin/protected/extensions</directory>
                <directory suffix=".php">/var/lib/mailadmin/protected/library</directory>
            </blacklist>
        </filter>
        <logging>
            <log type="coverage-text" target="/tmp/mailadmin-coverage.txt" showUncoveredFiles="false"/>
        </logging>-->
</phpunit>