<phpunit bootstrap="bootstrap.php"
         colors="false"
         stopOnFailure="true">

    <testsuites>
        <testsuite name="GoogleServiceDirectory">
            <directory>./Google</directory>
        </testsuite>
        <testsuite name="DataStoreSqlite">
            <directory>./Sqlite</directory>
        </testsuite>
    </testsuites>
</phpunit>